@page "/orderhistory"
@page "/orderhistory/{Page:int}"
@using System.Text.Json
@using ModernArchitectureShop.ShopUI.Models
@using ModernArchitectureShop.ShopUI.Services
@using System.Diagnostics
@using Newtonsoft.Json
@using JsonSerializer = System.Text.Json.JsonSerializer
@inject NavigationManager NavigationManager
@inject OrderHttpClientService OrderHttpClientService
@inject AuthenticationStateProvider AuthState

<div class="container">
  <h3 class="p-3 text-center">Blazor WebAssembly - Display a list of items</h3>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in users)
    {
      <tr>
        <td>@user.FirstName @user.LastName</td>
        <td>@user.Email</td>
        <td>@user.Role</td>
      </tr>
    }
    </tbody>
  </table>
</div>

@code {
  private IEnumerable<User> users = new[] {
    new User { Id = 1, FirstName = "Frank", LastName = "Murphy", Email = "frank.murphy@test.com", Role = "User" },
    new User { Id = 2, FirstName = "Vic", LastName = "Reynolds", Email = "vic.reynolds@test.com", Role = "Admin" },
    new User { Id = 3, FirstName = "Gina", LastName = "Jabowski", Email = "gina.jabowski@test.com", Role = "Admin" },
    new User { Id = 4, FirstName = "Jessi", LastName = "Glaser", Email = "jessi.glaser@test.com", Role = "User" },
    new User { Id = 5, FirstName = "Jay", LastName = "Bilzerian", Email = "jay.bilzerian@test.com", Role = "User" }
  };

  private class User
  {
    public int Id { get; set; }
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public string Email { get; set; }
    public string Role { get; set; }
  }

}

