@page "/identityapi"

@using ModernArchitectureShop.BlazorUI.Services
@inject IdentityService IdentityService

<h1>User Claims from API</h1>

<p>These are the user claims that were presented to the API</p>


@if (_userClaimsJson == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <pre> @_userClaimsJson </pre>
}

@code {
    private string _userClaimsJson;

    protected override async Task OnInitializedAsync()
    {
        _userClaimsJson = await IdentityService.GetAPIUserClaimsJson();
    }
}
