@page "/"
@inject AuthenticationStateProvider AuthState

<h1>Hello, @_username</h1>

<p>Welcome to your new app.</p>

@*<p>
  <a href="/Logout">Logout</a>
</p>*@

@code
{
  private string _username = "Anonymous User";

  protected override async Task OnInitializedAsync()
  {
    var state = await AuthState.GetAuthenticationStateAsync();

    _username =
      state.User.Claims
        .Where(c => c.Type.Equals("name"))
        .Select(c => c.Value)
        .FirstOrDefault() ?? "Please Login";

    await base.OnInitializedAsync();
  }
}
